page-details {
  .artwork {
    height: 50%;
    width: auto; /* Correct the height of the image, using width & aspect ratio. */
    display: block; margin: 0 auto; /* Center the image inside of the container */
  }
}
